      <footer role="contentinfo">
        <div class="container">
          <div class="content">
            <div class="contact-me">
              <p class="contact-me__heading">Interested in working with me?</p>
              <a class="button--cta" href="/contact/">Get in touch</a>
            </div>

            <div class="footer-links">
              <ul class="footer-links__other">
                <li><a href="/stream/">Stream</a></li>
                <li><a href="/now/">Now</a></li>
                <li><a href="/books/">Books</a></li>
                <li><a href="/testimonials/">Testimonials</a></li>
                <li><a href="/uses/">Uses</a></li>
                <li><a href="/photos/">Photos</a></li>
                <li><a href="/rss/feed.xml">RSS</a></li>
              </ul>
              <div class="social-icons social-icons--footer">
                <ul role="list">
                  <li class="social-icons__icon">
                    <a href="https://hachyderm.io/@juanfernandes" target="_blank" rel="me noopener noreferrer" title="Mastodon">
                      <svg aria-hidden="true" focusable="false"><use xlink:href="#svg-mastodon" /></svg>
                      <span class="visuallyhidden">Follow Juan Fernandes on Mastodon</span>
                    </a>
                  </li>
                  <li class="social-icons__icon">
                    <a href="https://www.linkedin.com/in/juanfernandes" target="_blank" rel="me noopener noreferrer" title="LinkedIn">
                      <svg aria-hidden="true" focusable="false"><use xlink:href="#svg-linkedin" /></svg>
                      <span class="visuallyhidden">Add Juan Fernandes on LinkedIn</span>
                    </a>
                  </li>
                  <li class="social-icons__icon">
                    <a href="https://github.com/juanfernandes" target="_blank" rel="me noopener noreferrer" title="GitHub">
                      <svg aria-hidden="true" focusable="false"><use xlink:href="#svg-github" /></svg>
                      <span class="visuallyhidden">Follow Juan Fernandes on GitHub</span>
                    </a>
                  </li>
                  <li class="social-icons__icon">
                    <a href="https://www.polywork.com/juanfernandes" target="_blank" rel="me noopener noreferrer" title="Polywork">
                      <svg class="u-p-6" aria-hidden="true" focusable="false"><use xlink:href="#svg-polywork" /></svg>
                      <span class="visuallyhidden">Follow Juan Fernandes on Polywork</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <p class="copyright">&copy; Multi Creative Media Ltd, 2015-{{ global.copyrightYear }} - Company No. 09615613. Registered in England &amp; Wales. Registered office: Bawdsey House, Ferry Road, Bawdsey, Suffolk IP12 3AW. No tracking.</p>
            <div class="u-center u-mt-3"><a class="img" href="https://withjack.co.uk" target="_blank" rel="noopener noreferrer" title="My business is insured via With Jack"><img src="{{ site.cloudinary_url }}f_auto/insured-via-with-jack.png" alt="With Jack" loading="lazy" width="100" height="87"></a></div>
          </div>
        </div>
      </footer>
