                  <div class="project__images">
                    {% for item in images %}
                    <img src="{{ site.cloudinary_url }}f_auto/work/projects/{{ item.img }}" loading="lazy" alt="{{ item.alt }}" width="300" height="180">
                    {% endfor %}
                   </div>
