{% extends 'layouts/base.njk' %}

{% block main %}
        <section class="section section--intro">
          <div class="content">
            <p>I'd love to hear about your project, and see if I'm the right fit to help you grow. Fill out the form below or give me a call on 07549 936695 and we'll make it happen.</p>
          </div>
        </section>

        <section class="contact-social">
          <div class="content">
            <div class="social">
              <a class="social__link" href="https://hachyderm.io/@juanfernandes" target="_blank" rel="me noopener noreferrer">
                <svg class="social__icon" aria-hidden="true"><use xlink:href="#svg-mastodon" /></svg>
                <span class="visuallyhidden">Follow Juan Fernandes on Mastodon</span>
              </a>

              <a class="social__link" href="https://www.linkedin.com/in/juanfernandes/" target="_blank" rel="me noopener noreferrer">
                <svg class="social__icon" aria-hidden="true"><use xlink:href="#svg-linkedin-lrg" /></svg>
                <span class="visuallyhidden">Add Juan Fernandes on LinkedIn</span>
              </a>

              <a class="social__link" href="https://github.com/juanfernandes" target="_blank" rel="me noopener noreferrer">
                <svg class="social__icon" aria-hidden="true"><use xlink:href="#svg-github-lrg" /></svg>
                <span class="visuallyhidden">Follow Juan Fernandes on GitHub</span>
              </a>
            </div>
          </div>
        </section>

        <div class="container">
          <div class="content">
            <div class="row">
              <div class="ten cols">
                <p>If you're looking to start a project or give your existing website a fresh new look, make an enquiry about front-end web development services or find out about availability, please use the form below.</p>

                <form class="form form--horizontal" name="Contact" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/contact/thank-you/">
                  <div class="control-group">
                    <label class="control-label" for="name">Your Name <span class="required">*</span></label>
                    <div class="controls">
                      <input id="name" name="name" class="input input--xxlarge" type="text" required="required">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="email">Your Email <span class="required">*</span></label>
                    <div class="controls">
                      <input id="email" name="email" class="input input--xxlarge" type="email" required="required">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="message">What's up? <span class="required">*</span></label>
                    <div class="controls">
                      <textarea id="message" name="message" cols="30" rows="5" required="required"></textarea>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <input id="submit" name="submit" class="button button--cta" value="Send Message" type="submit">
                    </div>
                  </div>

                  <label class="hidden">Don’t fill this out if you're human: <input name="bot-field" /></label>

                </form>
              </div>

              <div class="six cols">
                <ul>
                  <li><strong>Email:</strong> <a href="mailto:info@juanfernandes.uk" title="info@juanfernandes.uk">info@juanfernandes.uk</a></li>
                  <li><strong>Call:</strong> <a href="tel:+447549936695" title="07549 936695">07549 936695</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
