/* $_Buttons
================================================== */
input,
select,
button {
  cursor: pointer;
}

.button {
  &--cta,
  &--cta:active {
    background: none repeat scroll 0% 0% var(--orange);
    border: 1px dashed transparent;
    border-radius: .25em;
    box-shadow: 0 5px 0 var(--dark-orange);
    color: var(--off-black);
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    outline: 0;
    padding: 0.5em 1em;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, .94) 0s;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
    text-transform: uppercase;
  }

  &--cta:hover,
  &--cta:focus {
    background: none repeat scroll 0% 0% var(--light-orange);
    color: var(--off-white);
  }

  &--cta:focus {
    border: 1px solid var(--off-black);
  }

  &--full-width {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    width: 100%;
  }

  &--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
