{% set currentUrl = site.url + page.url %}
{% set pageTitle = title + ' - ' + ' Blog - ' + site.meta.title %}

<!doctype html>
  <html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="twitter:site" content="{{ site.meta.ogTwitter }}" />
    <meta name="twitter:url" property="og:url" content="{{ currentUrl }}">
    <meta name="twitter:title" property="og:title" content="{{ title }}">
    <meta name="twitter:description" property="og:description" content="{{ description }}">
    {% if postImage %}
    <meta name="twitter:image" property="og:image" content="{{ site.cloudinary_url }}w_1200,f_auto/l_juanfernandes-logo,w_100,g_south_east,x_60,y_40/l_text:Georgia_60_bold_center:{{ title }},co_rgb:eee,c_fit,w_600/{{ postImage }}" />
    <meta name="twitter:image:alt" property="og:image:alt" content="{{ title }}" />
    {% else %}
    <meta name="twitter:image" property="og:image" content="{{ site.meta.ogImg }}" />
    <meta name="twitter:image:alt" property="og:image:alt" content="{{ site.meta.ogImgAlt }}" />
    {% endif %}
    <meta name="monetization" content="$ilp.uphold.com/JgXZWm3wZ6KM">
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta http-equiv="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ currentUrl }}" />
    <link rel="alternate" hreflang="en-GB" href="{{ currentUrl }}" />
    <link rel="alternate" type="application/rss+xml" title="Blog posts from JuanFernandes.uk" href="https://www.juanfernandes.uk/rss/feed.xml">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
    <meta name="generator" content="{{ site.generator }}">

    {# Webmentions #}
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="webmention" href="https://webmention.io/www.juanfernandes.uk/webmention" />
    <link rel="pingback" href="https://webmention.io/www.juanfernandes.uk/xmlrpc" />

    <link rel="icon" href="/favicon.ico"><!-- 32×32 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <meta name="theme-color" content="#F89820">

    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">

    <link href="https://micro.blog/juanfernandes" rel="me" />
    <link rel="stylesheet" href="/assets/css/global.min.css">

    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "Juan Fernandes",
        "jobTitle": "Freelance Web Desighner",
        "image": "https://res.cloudinary.com/juanfernandes/juanfernandes-logo.svg",
        "description": "Juan Fernandes - Freelance/Contract Website Designer",
        "telephone": "+44 7549 936 695",
        "url": "https://www.juanfernandes.uk",
        "sameAs": [
          "https://twitter.com/juanfernades",
          "https://www.instagram.com/_juanfernandes",
          "https://mastodon.social/@juanfernandes",
          "https://www.linkedin.com/in/juanfernandes",
          "https://gitlab.com/juanfernandes",
          "https://github.com/juanfernandes"
        ]
      }
    </script>
    <script>
    if (navigator.serviceWorker) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/service-worker.js', {
                scope: '/'
            });
            if (navigator.serviceWorker.controller) {
                navigator.serviceWorker.controller.postMessage({'command': 'trimCaches'});
            }
        });
    }
    </script>
  </head>

  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>

    {% include 'misc/svg.njk' %}
    {% include 'components/header.njk' %}

    <a class="skip" href="#content">Skip to content</a>

    <div class="page">

      {% block intro %}
        {{ content | safe }}
      {% endblock %}

      <main role="main" class="main" id="content">
        {% block main %}
          {{ content | safe }}
        {% endblock %}
      </main>

      {% include 'components/footer.njk' %}
    </div>
  </body>
</html>
