{% extends 'layouts/base.njk' %}

{% block main %}
<div class="{{ class }}">
  <article class="content">

    {{ content | safe }}

    {% if page.url == "/now/" %}
      {% include "components/now-footer.njk" %}
    {% endif %}
  </article>
</div>
{% endblock %}
