/* ==========================================================================
   Base styles
   ========================================================================== */
html {
  background: var(--white);
  color: var(--off-black);
  font: 62.5%/1.5 sans-serif;
  margin: 0;
  height: 100%;
  scrollbar-gutter: stable;
  padding: 0;
  scrollbar-color: var(--orange) var(--off-black);
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: var(--orange);
  -ms-text-size-adjust: 100%;
}

body {
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(----off-black) var(--orange);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--orange);
}

*::-webkit-scrollbar-thumb {
  background-color: var(----off-black);
  border-radius: 20px;
  border: 3px solid var(--orange);
}

/* $_Navigation
================================================== */
a {
  border-bottom: 1px solid var(--orange);
  color: #333;
  font-size: 1.6rem;
  outline: 0;
  text-decoration: none;
  transition: all .3s ease-in-out;

  &:visited {
    color: #333;
    outline: 0;
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    color: #000;
    border-color: var(--off-black);
  }

  &.img {
    border: 0;
  }
}

p {
  a {
    line-height: inherit;

     &:visited {
      line-height: inherit;
    }
  }
}

.nav a:hover,
.nav a:focus {
  outline: none;
}

.nav li {
  list-style: none;
}

.nav--list li {
  float: left;
  font-size: 14px;
  font-size: 1.4rem;
  border-right: 1px solid #ddd;
}

.nav--list li:last-child {
  border-right: none;
}

.nav--list li a {
  color: #999;
  border-bottom: none;
  float: left;
  padding: 0 10px;
  text-decoration: none;
}
.nav--list li a:hover,
.nav--list li a:focus {
  color: #333;
}
.nav--list li a:active {
  color: #666;
}
.nav--list li.active a {
  color: #333;
  font-weight: bold;
}

/*
 * Tel links
 */
@media only screen and (min-width: 45em) { /* 720 */
  a[href^="tel:"] {
    cursor: default;
    pointer-events: none;
  }
}

/* $_Helper_classes
================================================== */
.callout {
  background: #DDD;
  padding: 2%;
  width: 100%;
}
.large {
  font-size: 18px;
  font-size: 1.8rem;
  padding: 14px 24px;
  text-align: center;
}
.remove-bottom {
  margin-bottom: 0 !important;
}
.half-bottom {
  margin-bottom: 0.625em !important;
}
.add-bottom {
  margin-bottom: 1.25em !important;
}
.spaced-out {
  margin: 2% 0;
}
.v-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.uppercase {
  text-transform: uppercase;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.gap-10 {
  gap: 10px;
}
.align-center {
  align-items: center;
}

/*
 * Skip to content
 */
.skip {
  background-color: var(--black);
  color: var(--white);
  left: -50%;
  padding: 0.5em 1em;
  position: fixed;
  text-decoration: none;
  top: 14px;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, .94) 0s;
  z-index: 2;

  &:focus {
    color: var(--white);
    border: 1px solid var(--orange);
    left: 10px;
  }
}

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;  /* IE 6/7 fallback */

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix
 */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}

/* ==========================================================================
   Utility Classes
   ========================================================================== */

.u-block {
  display: block;
}
.u-inline {
  display: inline;
}
.u-inline-block {
  display: inline-block;
}
.u-center {
  display: flex;
  justify-content: center;

    > * {
      align-items: center;
    }
}

.u-auto-width {
  width: auto;
}
.u-mb-0 {
  margin-bottom: 0;
}
.u-mb-1 {
  margin-bottom: 2rem;
}
.u-mb-2 {
  margin-bottom: 2rem;
}
.u-mt-1 {
  margin-top: 1em;
}
.u-mt-2 {
  margin-top: 2em;
}
.u-mt-3 {
  margin-top: 3em;
}

.u-mr-1 {
  margin-right: 1rem;
}

.u-p-6 {
  padding: 6px;
}
