html,
body {
  background: #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.error {
  background-color: rgba(0,0,0,.6);
  border-radius: 4px;
  color: #19FF19;
  left: calc(50% - 132px);
  padding: 20px;
  position: absolute;
  top: calc(50% - 50px);
  width: 264px;
  z-index: 1;
}

h1 {
  display: inline;
  margin: 0;
}

/*
  Rotate the canvas area so that the letters appear mirrored
*/
#matrix {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  max-width: 100%;
}
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  padding-left: 6px;
  font-size: 2em;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
