/*
  Icons
*/
$module: 'social-icons';
.#{$module} {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    border: none;
    display: block;
  }

  .#{$module}__icon {
    display: inline-block;

    svg,
    use {
      height: 38px;
      width: 38px;
      fill: var(--white);
      transition: fill 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    }

    a {
      &:hover use,
      &:focus use {
        fill: var(--orange);
      }
    }
  }

  &--footer {
    ul {
      align-items: center;
      display: flex;
      gap: 1rem;
      justify-content: center;
      margin-top: 2rem;

      @media only screen and (min-width: 40em) {
        max-height: 48px;
      }
    }

    .#{$module}__icon {
      svg,
      use {
        fill: var(--off-black);
      }

      a {
        &:hover use,
        &:focus use {
          fill: var(--orange);
        }
      }
    }
  }

  &--profile {
    .#{$module}__icon {
      path {
        fill: var(--off-black);
      }

      &:hover path,
      &:focus path {
        fill: var(--orange);
      }
    }
  }
}//.social-icons


.social {
  display: flex;
  grid-gap: 1em;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  //460
  @media only screen and (min-width: 44.500em) { // 712
    flex-direction: row;
    justify-content: space-evenly;
  }

  a {
    border-bottom: none;
  }

  &__link {
    &:hover,
    &:focus {
      .social__icon {
        fill: var(--white);
      }
    }
  }

  &__icon {
    height: 150px;
    transition: fill 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    width: 150px;
  }
}

/*
  Page
*/
.page {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  z-index: 1;
}

/*
  Containers
*/
.container {
  padding: 54px 0;
  margin: 0 auto;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
  width: 80%;

  @media only screen and (min-width: 75em) { // 1200
    width: 60%;
  }

  @media only screen and (min-width: 81.250em) { // 1300
    &--slim {
      width: 50%;
    }
  }

  @media only screen and (min-width: 93.750em) { // 1500
    &--slim {
      width: 40%;
    }
  }

  &--wide {
    width: 80%;
  }

  &__heading {
    text-align: center;
  }
}

.main {
  background: var(--white);
  // padding: 54px 0;
  position: relative;
  // z-index: 1;
}

/*
    Header
*/
.page__header {
  height: 55px;
  position: relative;
  z-index: 2;

  .logo {
    border: 1px dashed transparent;
    display: inline-block;
    position: relative;
    top: 2px;

    &:focus {
      border-color: var(--orange);
    }

    @media only screen and (min-width: 40em) { // 640
      top: -8px;
    }
    @media only screen and (min-width: 60em) { // 960
      top: -12px;
    }

    background: url("/assets/imgs/juanfernandes-logo.svg") no-repeat;
    background-size: 60px 60px;
    display: block;
    height: 60px;
    margin: 0 auto;
    outline: none;
    text-indent: -999em;
    width: 60px;

    @media only screen and (min-width: 40em) { // 640
      background-size: 80px 80px;
      height: 80px;
      width: 80px;
    }
    @media only screen and (min-width: 60em) { // 960
      background-size: 100px 100px;
      height: 100px;
      width: 100px;
    }
  }
}

/*
  Navigation
*/
nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
    }
  }

  .nav--main {
    align-items: baseline;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
    width: 100%;

    .nav__item {
      &:first-child {
        padding-left: 0
      }
      &:last-child {
        padding-right: 0;
      }
      padding: 20px 4px;
      @media only screen and (min-width: 40em) { // 640
        padding: 20px 6px;
      }
      @media only screen and (min-width: 60em) { // 960
        padding: 17px;
      }

      a:not(.logo) {
        border: none;
        color: var(--black);
        font-weight: 700;
        font-size: 12px;
        font-size: 1.2rem;

        @media only screen and (min-width: 60em) { // 960
          font-size: 14px;
          font-size: 1.4rem;
        }

        letter-spacing: 0.075em;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .25s cubic-bezier(.25, .46, .45, .94) 0s;

        &:hover:not(.logo),
        &:focus:not(.logo) {
          color: var(--dark-grey);
          border-bottom: 4px solid var(--orange);
          padding-bottom: 2px;
        }
      }

      &--active a {
        color: var(--dark-grey);
        text-transform: none;
      }
    }
  }
}

/*
    Intro
*/
.intro {
  background-color: var(--orange);
  background-image: linear-gradient(602deg, rgba(195, 195, 195, 0.02) 0%, rgba(195, 195, 195, 0.02) 16.667%,rgba(91, 91, 91, 0.02) 16.667%, rgba(91, 91, 91, 0.02) 33.334%,rgba(230, 230, 230, 0.02) 33.334%, rgba(230, 230, 230, 0.02) 50.001000000000005%,rgba(18, 18, 18, 0.02) 50.001%, rgba(18, 18, 18, 0.02) 66.668%,rgba(163, 163, 163, 0.02) 66.668%, rgba(163, 163, 163, 0.02) 83.33500000000001%,rgba(140, 140, 140, 0.02) 83.335%, rgba(140, 140, 140, 0.02) 100.002%),linear-gradient(512deg, rgba(151, 151, 151, 0.02) 0%, rgba(151, 151, 151, 0.02) 16.667%,rgba(11, 11, 11, 0.02) 16.667%, rgba(11, 11, 11, 0.02) 33.334%,rgba(162, 162, 162, 0.02) 33.334%, rgba(162, 162, 162, 0.02) 50.001000000000005%,rgba(171, 171, 171, 0.02) 50.001%, rgba(171, 171, 171, 0.02) 66.668%,rgba(119, 119, 119, 0.02) 66.668%, rgba(119, 119, 119, 0.02) 83.33500000000001%,rgba(106, 106, 106, 0.02) 83.335%, rgba(106, 106, 106, 0.02) 100.002%),linear-gradient(371deg, rgba(245, 245, 245, 0.01) 0%, rgba(245, 245, 245, 0.01) 16.667%,rgba(23, 23, 23, 0.01) 16.667%, rgba(23, 23, 23, 0.01) 33.334%,rgba(96, 96, 96, 0.01) 33.334%, rgba(96, 96, 96, 0.01) 50.001000000000005%,rgba(140, 140, 140, 0.01) 50.001%, rgba(140, 140, 140, 0.01) 66.668%,rgba(120, 120, 120, 0.01) 66.668%, rgba(120, 120, 120, 0.01) 83.33500000000001%,rgba(48, 48, 48, 0.01) 83.335%, rgba(48, 48, 48, 0.01) 100.002%),linear-gradient(387deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(203, 203, 203, 0.03) 14.286%, rgba(203, 203, 203, 0.03) 28.572%,rgba(54, 54, 54, 0.03) 28.572%, rgba(54, 54, 54, 0.03) 42.858%,rgba(75, 75, 75, 0.03) 42.858%, rgba(75, 75, 75, 0.03) 57.144%,rgba(216, 216, 216, 0.03) 57.144%, rgba(216, 216, 216, 0.03) 71.42999999999999%,rgba(39, 39, 39, 0.03) 71.43%, rgba(39, 39, 39, 0.03) 85.71600000000001%,rgba(246, 246, 246, 0.03) 85.716%, rgba(246, 246, 246, 0.03) 100.002%),linear-gradient(677deg, rgba(215, 215, 215, 0.01) 0%, rgba(215, 215, 215, 0.01) 16.667%,rgba(72, 72, 72, 0.01) 16.667%, rgba(72, 72, 72, 0.01) 33.334%,rgba(253, 253, 253, 0.01) 33.334%, rgba(253, 253, 253, 0.01) 50.001000000000005%,rgba(4, 4, 4, 0.01) 50.001%, rgba(4, 4, 4, 0.01) 66.668%,rgba(183, 183, 183, 0.01) 66.668%, rgba(183, 183, 183, 0.01) 83.33500000000001%,rgba(17, 17, 17, 0.01) 83.335%, rgba(17, 17, 17, 0.01) 100.002%),linear-gradient(488deg, rgba(119, 119, 119, 0.03) 0%, rgba(119, 119, 119, 0.03) 12.5%,rgba(91, 91, 91, 0.03) 12.5%, rgba(91, 91, 91, 0.03) 25%,rgba(45, 45, 45, 0.03) 25%, rgba(45, 45, 45, 0.03) 37.5%,rgba(182, 182, 182, 0.03) 37.5%, rgba(182, 182, 182, 0.03) 50%,rgba(243, 243, 243, 0.03) 50%, rgba(243, 243, 243, 0.03) 62.5%,rgba(162, 162, 162, 0.03) 62.5%, rgba(162, 162, 162, 0.03) 75%,rgba(190, 190, 190, 0.03) 75%, rgba(190, 190, 190, 0.03) 87.5%,rgba(148, 148, 148, 0.03) 87.5%, rgba(148, 148, 148, 0.03) 100%),linear-gradient(450deg, rgb(249,163,57),rgb(248,152,32));
  box-shadow: inset 0 -40px 24px -38px rgba(0,0,0,.25);
  color: #F2F2F2;
  padding: 122px 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;

  @media only screen and (min-width: 60em) { // 960
    background-attachment: fixed;
  }

  &__heading {
    color: var(--off-black);
    font-size: 40px;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.125;
    letter-spacing: -0.05em;

    &--large {
      display: block;
      font-size: 40px;
      font-size: 4rem;
      font-weight: bold;

      @media only screen and (min-width: 60em) {
        font-size: 80px;
        font-size: 8rem;
      }
    }
  }

  &--sml {
    padding: 40px 0;

    .intro__heading,
    .intro__heading--large {
      margin-bottom: 0;
    }
  }

  &--post {
    background-color: var(--orange);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .intro__heading {
      color: var(--white);
    }
  }

  &--code-img {
    background-image: url("https://res.cloudinary.com/juanfernandes/f_auto/computer-18363301920-1.jpg");
  }

  &__content {
    margin: 0 auto;
    max-width: 64em;
    padding: 0 1em;

    @media only screen and (min-width: 40em) { // 640
      padding: 8em 1em;
    }
  }
}

.intro .actions {
  margin-top: 3em;
  text-align: center;
}

/*
  Homepage
*/
.recent-work {
  padding: 54px 0;

  .content__heading {
    color: var(--black);
    margin-bottom: 40px;
  }

  .row {
    margin-bottom: 0;
  }

  .cols {
    margin-left: 0;

    @media only screen and (min-width: 60em) { // 960
      margin-bottom: 0;
      margin-left: 2%;
    }
  }

  .project {
    height: 200px;
    margin: 0 auto 56px auto;
    position: relative;
    text-align: center;
    width: 200px;

    @media only screen and (min-width: 60em) {
      margin: 0 auto 24px auto;
    }

    a {
      border: 0;
      display: block;

      &:hover,
      &:focus {
        .project__content-wrapper {
          box-shadow:
            inset 0 0 0 100px rgba(249,163,57,.6),
            0 1px 2px rgba(0,0,0,0.1);
        }
      }
    }

    &__img {
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }

    &__content-wrapper {
      border-radius: 50%;
      box-shadow:
        inset 0 0 0 16px rgba(249,163,57,.6),
        0 1px 2px rgba(0,0,0,0.1);
      cursor: pointer;
      height: 100%;
      position: absolute;
      text-align: center;
      transition: all .4s ease-in-out;
      top: 0;
      width: 100%;
    }

    &__content {
      background: rgba(249,163,57, 0.8);
      border-radius: 50%;
      display: table;
      height: inherit;
      margin-bottom: 1em;
      opacity: 0;
      transition: all 0.4s ease-in-out;
      transform: scale(0);
      width: inherit;
      -webkit-backface-visibility: hidden;

      img {
        position: absolute;
        left: calc(50% - 75px);
        top: calc(50% - 40px);
        width: 150px;
      }
    }

    &__heading {
      display: block;
      font-size: 20px;
      font-size: 2rem;
      margin-top: 210px;
      margin-bottom: 0;
      text-transform: uppercase;
      width: auto;
    }
  } // .project
} // .recent-work

.section {
  &--intro {
    padding: 54px 0;
    text-align: center;

    p {
      font-size: 26px;
      font-size: 2.6rem;
      margin-bottom: 0;
    }
  }
}

/* Skills */
.skills {
  background-image: linear-gradient(602deg, rgba(195, 195, 195, 0.02) 0%, rgba(195, 195, 195, 0.02) 16.667%,rgba(91, 91, 91, 0.02) 16.667%, rgba(91, 91, 91, 0.02) 33.334%,rgba(230, 230, 230, 0.02) 33.334%, rgba(230, 230, 230, 0.02) 50.001000000000005%,rgba(18, 18, 18, 0.02) 50.001%, rgba(18, 18, 18, 0.02) 66.668%,rgba(163, 163, 163, 0.02) 66.668%, rgba(163, 163, 163, 0.02) 83.33500000000001%,rgba(140, 140, 140, 0.02) 83.335%, rgba(140, 140, 140, 0.02) 100.002%),linear-gradient(512deg, rgba(151, 151, 151, 0.02) 0%, rgba(151, 151, 151, 0.02) 16.667%,rgba(11, 11, 11, 0.02) 16.667%, rgba(11, 11, 11, 0.02) 33.334%,rgba(162, 162, 162, 0.02) 33.334%, rgba(162, 162, 162, 0.02) 50.001000000000005%,rgba(171, 171, 171, 0.02) 50.001%, rgba(171, 171, 171, 0.02) 66.668%,rgba(119, 119, 119, 0.02) 66.668%, rgba(119, 119, 119, 0.02) 83.33500000000001%,rgba(106, 106, 106, 0.02) 83.335%, rgba(106, 106, 106, 0.02) 100.002%),linear-gradient(371deg, rgba(245, 245, 245, 0.01) 0%, rgba(245, 245, 245, 0.01) 16.667%,rgba(23, 23, 23, 0.01) 16.667%, rgba(23, 23, 23, 0.01) 33.334%,rgba(96, 96, 96, 0.01) 33.334%, rgba(96, 96, 96, 0.01) 50.001000000000005%,rgba(140, 140, 140, 0.01) 50.001%, rgba(140, 140, 140, 0.01) 66.668%,rgba(120, 120, 120, 0.01) 66.668%, rgba(120, 120, 120, 0.01) 83.33500000000001%,rgba(48, 48, 48, 0.01) 83.335%, rgba(48, 48, 48, 0.01) 100.002%),linear-gradient(387deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(203, 203, 203, 0.03) 14.286%, rgba(203, 203, 203, 0.03) 28.572%,rgba(54, 54, 54, 0.03) 28.572%, rgba(54, 54, 54, 0.03) 42.858%,rgba(75, 75, 75, 0.03) 42.858%, rgba(75, 75, 75, 0.03) 57.144%,rgba(216, 216, 216, 0.03) 57.144%, rgba(216, 216, 216, 0.03) 71.42999999999999%,rgba(39, 39, 39, 0.03) 71.43%, rgba(39, 39, 39, 0.03) 85.71600000000001%,rgba(246, 246, 246, 0.03) 85.716%, rgba(246, 246, 246, 0.03) 100.002%),linear-gradient(677deg, rgba(215, 215, 215, 0.01) 0%, rgba(215, 215, 215, 0.01) 16.667%,rgba(72, 72, 72, 0.01) 16.667%, rgba(72, 72, 72, 0.01) 33.334%,rgba(253, 253, 253, 0.01) 33.334%, rgba(253, 253, 253, 0.01) 50.001000000000005%,rgba(4, 4, 4, 0.01) 50.001%, rgba(4, 4, 4, 0.01) 66.668%,rgba(183, 183, 183, 0.01) 66.668%, rgba(183, 183, 183, 0.01) 83.33500000000001%,rgba(17, 17, 17, 0.01) 83.335%, rgba(17, 17, 17, 0.01) 100.002%),linear-gradient(488deg, rgba(119, 119, 119, 0.03) 0%, rgba(119, 119, 119, 0.03) 12.5%,rgba(91, 91, 91, 0.03) 12.5%, rgba(91, 91, 91, 0.03) 25%,rgba(45, 45, 45, 0.03) 25%, rgba(45, 45, 45, 0.03) 37.5%,rgba(182, 182, 182, 0.03) 37.5%, rgba(182, 182, 182, 0.03) 50%,rgba(243, 243, 243, 0.03) 50%, rgba(243, 243, 243, 0.03) 62.5%,rgba(162, 162, 162, 0.03) 62.5%, rgba(162, 162, 162, 0.03) 75%,rgba(190, 190, 190, 0.03) 75%, rgba(190, 190, 190, 0.03) 87.5%,rgba(148, 148, 148, 0.03) 87.5%, rgba(148, 148, 148, 0.03) 100%),linear-gradient(450deg, rgb(97,192,136),rgb(5,159,81));
  box-shadow: inset 0 -40px 24px -38px rgba(0,0,0,.25);
  color: var(--black);
  padding: 54px 0;

  @media only screen and (min-width: 60em) { // 960
    background-attachment: fixed;
  }

  .row {
    margin-bottom: 0;
  }

  .cols {
    margin-left: 0;

    @media only screen and (min-width: 60em) { // 960
      margin-bottom: 0;
    }
  }

  .content__heading {
    color: var(--black);
  }
}

.skill {
  text-align: center;

  &__icon {
    margin: 0 auto;
    width: 150px;
  }

  &__heading {
    color: var(--black);
    line-height: 1.2;
    margin: -16px 0 0;
  }
}


/*
  Testimonials
*/
.testimonials {
  &--section {
  background-image: linear-gradient(602deg, rgba(195, 195, 195, 0.02) 0%, rgba(195, 195, 195, 0.02) 16.667%,rgba(91, 91, 91, 0.02) 16.667%, rgba(91, 91, 91, 0.02) 33.334%,rgba(230, 230, 230, 0.02) 33.334%, rgba(230, 230, 230, 0.02) 50.001000000000005%,rgba(18, 18, 18, 0.02) 50.001%, rgba(18, 18, 18, 0.02) 66.668%,rgba(163, 163, 163, 0.02) 66.668%, rgba(163, 163, 163, 0.02) 83.33500000000001%,rgba(140, 140, 140, 0.02) 83.335%, rgba(140, 140, 140, 0.02) 100.002%),linear-gradient(512deg, rgba(151, 151, 151, 0.02) 0%, rgba(151, 151, 151, 0.02) 16.667%,rgba(11, 11, 11, 0.02) 16.667%, rgba(11, 11, 11, 0.02) 33.334%,rgba(162, 162, 162, 0.02) 33.334%, rgba(162, 162, 162, 0.02) 50.001000000000005%,rgba(171, 171, 171, 0.02) 50.001%, rgba(171, 171, 171, 0.02) 66.668%,rgba(119, 119, 119, 0.02) 66.668%, rgba(119, 119, 119, 0.02) 83.33500000000001%,rgba(106, 106, 106, 0.02) 83.335%, rgba(106, 106, 106, 0.02) 100.002%),linear-gradient(387deg, rgba(245, 245, 245, 0.01) 0%, rgba(245, 245, 245, 0.01) 16.667%,rgba(23, 23, 23, 0.01) 16.667%, rgba(23, 23, 23, 0.01) 33.334%,rgba(96, 96, 96, 0.01) 33.334%, rgba(96, 96, 96, 0.01) 50.001000000000005%,rgba(140, 140, 140, 0.01) 50.001%, rgba(140, 140, 140, 0.01) 66.668%,rgba(120, 120, 120, 0.01) 66.668%, rgba(120, 120, 120, 0.01) 83.33500000000001%,rgba(48, 48, 48, 0.01) 83.335%, rgba(48, 48, 48, 0.01) 100.002%),linear-gradient(371deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(203, 203, 203, 0.03) 14.286%, rgba(203, 203, 203, 0.03) 28.572%,rgba(54, 54, 54, 0.03) 28.572%, rgba(54, 54, 54, 0.03) 42.858%,rgba(75, 75, 75, 0.03) 42.858%, rgba(75, 75, 75, 0.03) 57.144%,rgba(216, 216, 216, 0.03) 57.144%, rgba(216, 216, 216, 0.03) 71.42999999999999%,rgba(39, 39, 39, 0.03) 71.43%, rgba(39, 39, 39, 0.03) 85.71600000000001%,rgba(246, 246, 246, 0.03) 85.716%, rgba(246, 246, 246, 0.03) 100.002%),linear-gradient(677deg, rgba(215, 215, 215, 0.01) 0%, rgba(215, 215, 215, 0.01) 16.667%,rgba(72, 72, 72, 0.01) 16.667%, rgba(72, 72, 72, 0.01) 33.334%,rgba(253, 253, 253, 0.01) 33.334%, rgba(253, 253, 253, 0.01) 50.001000000000005%,rgba(4, 4, 4, 0.01) 50.001%, rgba(4, 4, 4, 0.01) 66.668%,rgba(183, 183, 183, 0.01) 66.668%, rgba(183, 183, 183, 0.01) 83.33500000000001%,rgba(17, 17, 17, 0.01) 83.335%, rgba(17, 17, 17, 0.01) 100.002%),linear-gradient(488deg, rgba(119, 119, 119, 0.03) 0%, rgba(119, 119, 119, 0.03) 12.5%,rgba(91, 91, 91, 0.03) 12.5%, rgba(91, 91, 91, 0.03) 25%,rgba(45, 45, 45, 0.03) 25%, rgba(45, 45, 45, 0.03) 37.5%,rgba(182, 182, 182, 0.03) 37.5%, rgba(182, 182, 182, 0.03) 50%,rgba(243, 243, 243, 0.03) 50%, rgba(243, 243, 243, 0.03) 62.5%,rgba(162, 162, 162, 0.03) 62.5%, rgba(162, 162, 162, 0.03) 75%,rgba(190, 190, 190, 0.03) 75%, rgba(190, 190, 190, 0.03) 87.5%,rgba(148, 148, 148, 0.03) 87.5%, rgba(148, 148, 148, 0.03) 100%),linear-gradient(450deg, rgb(11,11,11),rgb(0,0,0));
    box-shadow: inset 0 -40px 24px -38px rgba(0,0,0,.25);
    color: var(--white);
    padding: 54px 0;

    @media only screen and (min-width: 60em) { // 960
      background-attachment: fixed;
    }

    .content__heading {
      color: var(--white);
    }

    b {
      color: var(--orange);
    }

    ul,
    .slick-slider {
      margin-bottom: 0;
    }

    blockquote {
      border-color: var(--orange);
    }

    cite {
      margin-left: 22px;
    }
  }

  &--page {
    padding: 54px 0;
  }

  .testimonial {
    &:not(:last-child) {
      margin-bottom: 6em;
    }

    @media only screen and (min-width: 60em) { // 960
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 2em;

      &:nth-child(2n) {
        grid-template-columns: 1fr 3fr;

        .testimonial__quote {
          grid-column-start: 2;
          grid-row-start: 1;
        }

        .testimonial__thumb {
          grid-column-start: 1;
          grid-row-start: 1;
        }
      }
    }

    &__quote {
      border-left: 4px solid var(--orange);

      blockquote {
        border: 0;
        position: relative;
      }

      cite {
        display: inline-block;
        font-size: 16px;
        font-size: 1.6rem;
        margin-left: 20px;
      }
    }

    &__thumb {
      display: flex;
      justify-content: center;
      margin-top: 2em;

      @media only screen and (min-width: 60em) { // 960
        align-items: center;
        margin-top: 0;
      }

      img {
        border-radius: 50%;
        align-self: flex-start;
        max-width: 200px;
      }
    }
  }
}

/*
  Footer
*/
footer {
  background-image: linear-gradient(602deg, rgba(195, 195, 195, 0.02) 0%, rgba(195, 195, 195, 0.02) 16.667%,rgba(91, 91, 91, 0.02) 16.667%, rgba(91, 91, 91, 0.02) 33.334%,rgba(230, 230, 230, 0.02) 33.334%, rgba(230, 230, 230, 0.02) 50.001000000000005%,rgba(18, 18, 18, 0.02) 50.001%, rgba(18, 18, 18, 0.02) 66.668%,rgba(163, 163, 163, 0.02) 66.668%, rgba(163, 163, 163, 0.02) 83.33500000000001%,rgba(140, 140, 140, 0.02) 83.335%, rgba(140, 140, 140, 0.02) 100.002%),linear-gradient(512deg, rgba(151, 151, 151, 0.02) 0%, rgba(151, 151, 151, 0.02) 16.667%,rgba(11, 11, 11, 0.02) 16.667%, rgba(11, 11, 11, 0.02) 33.334%,rgba(162, 162, 162, 0.02) 33.334%, rgba(162, 162, 162, 0.02) 50.001000000000005%,rgba(171, 171, 171, 0.02) 50.001%, rgba(171, 171, 171, 0.02) 66.668%,rgba(119, 119, 119, 0.02) 66.668%, rgba(119, 119, 119, 0.02) 83.33500000000001%,rgba(106, 106, 106, 0.02) 83.335%, rgba(106, 106, 106, 0.02) 100.002%),linear-gradient(371deg, rgba(245, 245, 245, 0.01) 0%, rgba(245, 245, 245, 0.01) 16.667%,rgba(23, 23, 23, 0.01) 16.667%, rgba(23, 23, 23, 0.01) 33.334%,rgba(96, 96, 96, 0.01) 33.334%, rgba(96, 96, 96, 0.01) 50.001000000000005%,rgba(140, 140, 140, 0.01) 50.001%, rgba(140, 140, 140, 0.01) 66.668%,rgba(120, 120, 120, 0.01) 66.668%, rgba(120, 120, 120, 0.01) 83.33500000000001%,rgba(48, 48, 48, 0.01) 83.335%, rgba(48, 48, 48, 0.01) 100.002%),linear-gradient(387deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(203, 203, 203, 0.03) 14.286%, rgba(203, 203, 203, 0.03) 28.572%,rgba(54, 54, 54, 0.03) 28.572%, rgba(54, 54, 54, 0.03) 42.858%,rgba(75, 75, 75, 0.03) 42.858%, rgba(75, 75, 75, 0.03) 57.144%,rgba(216, 216, 216, 0.03) 57.144%, rgba(216, 216, 216, 0.03) 71.42999999999999%,rgba(39, 39, 39, 0.03) 71.43%, rgba(39, 39, 39, 0.03) 85.71600000000001%,rgba(246, 246, 246, 0.03) 85.716%, rgba(246, 246, 246, 0.03) 100.002%),linear-gradient(677deg, rgba(215, 215, 215, 0.01) 0%, rgba(215, 215, 215, 0.01) 16.667%,rgba(72, 72, 72, 0.01) 16.667%, rgba(72, 72, 72, 0.01) 33.334%,rgba(253, 253, 253, 0.01) 33.334%, rgba(253, 253, 253, 0.01) 50.001000000000005%,rgba(4, 4, 4, 0.01) 50.001%, rgba(4, 4, 4, 0.01) 66.668%,rgba(183, 183, 183, 0.01) 66.668%, rgba(183, 183, 183, 0.01) 83.33500000000001%,rgba(17, 17, 17, 0.01) 83.335%, rgba(17, 17, 17, 0.01) 100.002%),linear-gradient(488deg, rgba(119, 119, 119, 0.03) 0%, rgba(119, 119, 119, 0.03) 12.5%,rgba(91, 91, 91, 0.03) 12.5%, rgba(91, 91, 91, 0.03) 25%,rgba(45, 45, 45, 0.03) 25%, rgba(45, 45, 45, 0.03) 37.5%,rgba(182, 182, 182, 0.03) 37.5%, rgba(182, 182, 182, 0.03) 50%,rgba(243, 243, 243, 0.03) 50%, rgba(243, 243, 243, 0.03) 62.5%,rgba(162, 162, 162, 0.03) 62.5%, rgba(162, 162, 162, 0.03) 75%,rgba(190, 190, 190, 0.03) 75%, rgba(190, 190, 190, 0.03) 87.5%,rgba(148, 148, 148, 0.03) 87.5%, rgba(148, 148, 148, 0.03) 100%),linear-gradient(450deg, rgb(249,163,57),rgb(248,152,32));
  color: var(--black);
  min-height: 410px;
  width: 100%;

  .container {
    background: linear-gradient(to bottom, transparent 0%, transparent 10%, rgba(0, 0, 0, .5) 100%) repeat scroll 0% 0% transparent;
    padding: 100px 0;
  }

  .copyright {
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    border-top: 2px solid var(--orange);
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;

    @media only screen and (min-width: 48em) {
      max-width: 640px;
    }
  }
}

@media only screen and (min-width: 60em) {
  footer {
    background-attachment: fixed;
  }
}

footer > .container > .sixteen {
  margin: 0 auto;
  bottom: 110px;
  position: fixed;
  z-index: 0;
}

.contact-me {
  margin: 0 auto;
  padding: 2em 0 2em 0;
  text-align: center;

  &__heading {
    color: var(--off-black);
    font-size: 30px;
    font-size: 3rem;
  }
}

.footer-links {
  align-items: center;
  border-top: 2px solid var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 24px auto 0 auto;
  padding: 25px 0;

  &__other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    @media only screen and (min-width: 40em) {
      align-items: center;
      flex-direction: row;
    }

    li {
      margin-right: 1em;
    }

    a {
      border-color: transparent;
      text-transform: uppercase;
      color: var(--black);

      &:hover,
      &:focus {
        border-color: var(--off-block);
      }
    }
  }

  @media only screen and (min-width: 40em) {
    max-width: 640px;
  }
}

/*
  WORK
*/
.work {
  padding-top: 54px;

  .content__heading {
    margin-bottom: 40px;
  }

  .row {
    margin-bottom: 0;
  }

  .cols {
    margin-bottom: 0;
    @media only screen and (min-width: 40em) { // 640
      margin-bottom: 2%;
    }
  }
}

.work figure {
  background: #3085A3;
  border: 1px solid var(--orange);
  cursor: pointer;
  float: left;
  height: 180px;
  margin: 0 0 24px 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 28.750em) { // 460
  .work figure {
    height: 200px;
  }
}

@media only screen and (min-width: 32.500em) { // 520
  .work figure {
    height: 320px;
  }
}

@media only screen and (min-width: 40em) { // 640
  .work figure {
    height: 180px;
    margin: 0;
  }
}

@media only screen and (min-width: 52.500em) { // 840
  .work figure {
    height: 220px;
  }
}

@media only screen and (min-width: 64em) { // 1024
  .work figure {
    height: 280px;
  }
}

@media only screen and (min-width: 68.750em) { // 1100
  .work figure {
    height: 300px;
  }
}

@media only screen and (min-width: 87.500em) { // 1400
  .work figure {
    height: 360px;
  }
}

.work figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: .8;
}

.work figure figcaption {
  padding: 2em;
  color: var(--white);
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.work figure figcaption::before,
.work figure figcaption::after {
  pointer-events: none;
}

.work figure figcaption,
.work figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.work figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.work figure p {
  margin: 0;
}

.work figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect {
  background: -webkit-linear-gradient(-45deg, #34495E 0%,var(--orange) 100%);
  background: linear-gradient(-45deg, #34495E 0%,var(--orange) 100%);
}

figure.effect img,
figure.effect p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover img {
  opacity: 0.1;
  -webkit-transform: scale3d(2,2,1);
          transform: scale3d(2,2,1);
}

figure.effect p {
  border: 2px solid var(--white);
  bottom: 0;
  font-size: 90%;
  left: 0;
  margin: 20px;
  opacity: 0;
  padding: 30px;
  position: absolute;
  text-transform: none;
  -webkit-transform: scale3d(0.8,0.8,1);
          transform: scale3d(0.8,0.8,1);
  -webkit-transform-origin: 50% -100%;
          transform-origin: 50% -100%;
}

figure.effect:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

@supports (display: grid) {
  .client-list {
    --auto-grid-min-size: 200px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(var(--auto-grid-min-size), 1fr));

    @media only screen and (min-width: 48.438em) { // 775
      --auto-grid-min-size: 146px;
    }

    @media only screen and (min-width: 85.625em) { // 1370
      --auto-grid-min-size: 198px;
    }
  }
}

.client {
  img {
    border: 1px solid var(--light-grey);
    display: block;
    margin: 0 auto;
    width: 245px;
  }
}

/* Companies */
.companies {
  padding: 54px 0;

  .content__heading {
    margin-bottom: 40px;
  }
}

/* Projects */
.project {
  &__heading {
    text-align: center;
    width: 100%;
  }

  &__sub-heading {
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-top: 0;
  }

  &__images img {
    border: 1px solid var(--orange);
  }

  @media only screen and (min-width: 40em) { // 640
    .aside {
      position: sticky;
      top: 4em;
    }
  }
}


.project__meta {
  color: var(--dark-grey);
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 24px;

  &--client,
  &--role {
    display: block;
  }
}


.nav--portfolio {
  margin-bottom: 24px;

  ul {
    height: 32px;
  }

  a {
    display: block;
    width: 32px;
    height: 32px;
    border: none;
  }

  &__all {
    margin: 0 auto;
    width: 32px;
  }

  &__controls {
    margin-top: -32px;
  }

  &__prev {
    float: left;
  }

  &__next {
    float: right;
  }

  svg {
    fill: #4691f6;
    height: 32px;
    width: 32px;
  }
}

.nav--portfolio .nav--portfolio__all:hover svg,
.nav--portfolio .nav--portfolio__prev:hover svg,
.nav--portfolio .nav--portfolio__next:hover svg,
.nav--portfolio .nav--portfolio__all:focus svg,
.nav--portfolio .nav--portfolio__prev:focus svg,
.nav--portfolio .nav--portfolio__next:focus svg, {
  fill: var(--orange);
  transition: fill .25s cubic-bezier(.25, .46, .45, .94) 0s;
}

.nav--portfolio .nav--portfolio--disabled:hover svg,
.nav--portfolio .nav--portfolio--disabled:focus svg,
.nav--portfolio .nav--portfolio--disabled svg {
  fill: var(--light-grey);
}

@media only screen and (min-width: 40em) { // 640
  .project__heading {
    margin-bottom: 40px;
    position: relative;
    width: 400px;
  }

  .nav--portfolio {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .nav--portfolio .nav--portfolio__all {
    float: left;
    margin-top: 7px;
  }

  .nav--portfolio .nav--portfolio__controls {
    float: right;
    margin-top: 7px;
  }
}

@media only screen and (min-width: 56.250em) { /* 900  */
  .project__heading {
    width: auto;
  }
}

.about,
.uses,
.now,
.books {
  padding: 54px 0;
}


.fyi {
  background-color: var(--off-white);
  border-left: 4px solid var(--orange);
  font-style: italic;
  margin-bottom: 24px;
  padding: 1em;

  p:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "FYI";
    display: block;
    margin-bottom: .4em;
    font-weight: bold;
    font-size: 1.2rem;
    font-style: normal;
  }
}

/*
  Blog
*/
.blog {
  .blog-posts {
    padding: 54px 0;
  }

  .intro {
    h1 {
      margin: 0;
    }

    .intro__heading--large {
      margin-bottom: 0;
    }

    .intro__content {
      @media only screen and (min-width: 40em) { // 640
        padding: 12em 1em;
      }
    }
  }

  .post-list {
    margin: 0;
    padding: 0;

    @media only screen and (min-width: 40em) { // 640
      margin: 0 3em 0 0;
    }

    li {
      list-style: none;
      padding-bottom: 24px;
    }

    li:not(:last-child) {
      border-bottom: 1px solid var(--orange);
      margin-bottom: 24px;
    }

    .b-title {
      margin-bottom: 0;
      margin-top: 16px;

      @media only screen and (min-width: 29.750em) { // 476
        margin-top: 0;
      }
    }

    .meta {
      color: var(--dark-grey);
      margin-bottom: 16px;
      text-transform: uppercase;
    }

    &--cards {
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      margin: 0;
      padding: 1em;

      .card {
        align-items: center;
        background: var(--white);
        border-radius: 5px;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.2);
        color: var(--off-black);
        display: flex;
        flex-direction: column;
        font-weight: 500;
        justify-content: center;
        padding: 1em;
        transition: 300ms box-shadow;

        &:hover {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        &__title {
          font-size: 16px;
          margin: 0;
        }

        &__img {
          height: 200px;
          margin-bottom: 1em;
          object-fit: cover;
        }
      }
    }
  }

  .post {
    margin-bottom: 54px;

    &--stream {
      margin-bottom: 0;

      p {
        font-size: 2rem;
      }

      .meta {
        margin-bottom: 0;
      }
    }

    &__heading {
      margin-bottom: 0;
      text-align: center;
    }

    .meta {
      text-align: center;
    }

    &__img {
      margin-bottom: 24px;
    }

    &--img {
      margin-bottom: 0;

      figure {
        border: 1px solid rgba(0,0,0,.2);
      }

      figcaption {
        font-weight: bold;
        margin: 0;
        padding: 1em;
      }

      img {
        border: 1px solid rgba(0,0,0,.2);
        margin: 0;
      }

      .meta {
        margin: 2em 0 0;
      }
    }

    figure {
      margin: 0;
    }
  }

  .listing {
    list-style: none;
    padding: 0;
  }

  .sidebar {
    border-top: 2px solid var(--orange);
    position: -webkit-sticky;
    position: sticky;
    top: 4em;

    &.cols {
      margin-left: 0;
    }

    @media only screen and (min-width: 60em) { // 960
      &.cols {
        margin-left: 2%;
      }
    }
  }

  .meta {
    .heading {
      font-size: 18px;
      font-size: 1.8rem;
      margin-bottom: 16px;
      text-transform: uppercase;

      &:first-of-type {
        margin-top: .6em;
      }
    }

    ul {
      margin-left: 4px;
    }
  }
}

.post img {
  border: 1px solid #c6bfbf;
}

.more::after {
  content: '';
  border-bottom: 6px solid transparent;
  border-left: 6px solid #333;
  border-top: 6px solid transparent;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
}
.b-inner:hover .more {
  animation: arrow-bounce 1s cubic-bezier(.4,.04,.4,1);
}

.b-inner:hover .more::after {
  border-left: 6px solid var(--black);
}

@keyframes arrow-bounce {
  60% {
    transform:translateX(8px)
  }
  70% {
    transform:translateX(-3px)
  }
  80% {
    transform:translateX(2px)
  }
  90% {
    transform:translateX(-1px)
  }
}

/*
  Contact
*/
.contact-social {
  background-image: linear-gradient(602deg, rgba(195, 195, 195, 0.02) 0%, rgba(195, 195, 195, 0.02) 16.667%,rgba(91, 91, 91, 0.02) 16.667%, rgba(91, 91, 91, 0.02) 33.334%,rgba(230, 230, 230, 0.02) 33.334%, rgba(230, 230, 230, 0.02) 50.001000000000005%,rgba(18, 18, 18, 0.02) 50.001%, rgba(18, 18, 18, 0.02) 66.668%,rgba(163, 163, 163, 0.02) 66.668%, rgba(163, 163, 163, 0.02) 83.33500000000001%,rgba(140, 140, 140, 0.02) 83.335%, rgba(140, 140, 140, 0.02) 100.002%),linear-gradient(512deg, rgba(151, 151, 151, 0.02) 0%, rgba(151, 151, 151, 0.02) 16.667%,rgba(11, 11, 11, 0.02) 16.667%, rgba(11, 11, 11, 0.02) 33.334%,rgba(162, 162, 162, 0.02) 33.334%, rgba(162, 162, 162, 0.02) 50.001000000000005%,rgba(171, 171, 171, 0.02) 50.001%, rgba(171, 171, 171, 0.02) 66.668%,rgba(119, 119, 119, 0.02) 66.668%, rgba(119, 119, 119, 0.02) 83.33500000000001%,rgba(106, 106, 106, 0.02) 83.335%, rgba(106, 106, 106, 0.02) 100.002%),linear-gradient(371deg, rgba(245, 245, 245, 0.01) 0%, rgba(245, 245, 245, 0.01) 16.667%,rgba(23, 23, 23, 0.01) 16.667%, rgba(23, 23, 23, 0.01) 33.334%,rgba(96, 96, 96, 0.01) 33.334%, rgba(96, 96, 96, 0.01) 50.001000000000005%,rgba(140, 140, 140, 0.01) 50.001%, rgba(140, 140, 140, 0.01) 66.668%,rgba(120, 120, 120, 0.01) 66.668%, rgba(120, 120, 120, 0.01) 83.33500000000001%,rgba(48, 48, 48, 0.01) 83.335%, rgba(48, 48, 48, 0.01) 100.002%),linear-gradient(387deg, rgba(106, 106, 106, 0.03) 0%, rgba(106, 106, 106, 0.03) 14.286%,rgba(203, 203, 203, 0.03) 14.286%, rgba(203, 203, 203, 0.03) 28.572%,rgba(54, 54, 54, 0.03) 28.572%, rgba(54, 54, 54, 0.03) 42.858%,rgba(75, 75, 75, 0.03) 42.858%, rgba(75, 75, 75, 0.03) 57.144%,rgba(216, 216, 216, 0.03) 57.144%, rgba(216, 216, 216, 0.03) 71.42999999999999%,rgba(39, 39, 39, 0.03) 71.43%, rgba(39, 39, 39, 0.03) 85.71600000000001%,rgba(246, 246, 246, 0.03) 85.716%, rgba(246, 246, 246, 0.03) 100.002%),linear-gradient(677deg, rgba(215, 215, 215, 0.01) 0%, rgba(215, 215, 215, 0.01) 16.667%,rgba(72, 72, 72, 0.01) 16.667%, rgba(72, 72, 72, 0.01) 33.334%,rgba(253, 253, 253, 0.01) 33.334%, rgba(253, 253, 253, 0.01) 50.001000000000005%,rgba(4, 4, 4, 0.01) 50.001%, rgba(4, 4, 4, 0.01) 66.668%,rgba(183, 183, 183, 0.01) 66.668%, rgba(183, 183, 183, 0.01) 83.33500000000001%,rgba(17, 17, 17, 0.01) 83.335%, rgba(17, 17, 17, 0.01) 100.002%),linear-gradient(488deg, rgba(119, 119, 119, 0.03) 0%, rgba(119, 119, 119, 0.03) 12.5%,rgba(91, 91, 91, 0.03) 12.5%, rgba(91, 91, 91, 0.03) 25%,rgba(45, 45, 45, 0.03) 25%, rgba(45, 45, 45, 0.03) 37.5%,rgba(182, 182, 182, 0.03) 37.5%, rgba(182, 182, 182, 0.03) 50%,rgba(243, 243, 243, 0.03) 50%, rgba(243, 243, 243, 0.03) 62.5%,rgba(162, 162, 162, 0.03) 62.5%, rgba(162, 162, 162, 0.03) 75%,rgba(190, 190, 190, 0.03) 75%, rgba(190, 190, 190, 0.03) 87.5%,rgba(148, 148, 148, 0.03) 87.5%, rgba(148, 148, 148, 0.03) 100%),linear-gradient(450deg, rgb(249,163,57),rgb(62,32,248));
  box-shadow: inset 0 -40px 24px -38px rgba(0,0,0,.25);
  color: var(--black);
  margin-bottom: 54px;
  padding: 4em 0
}

@media only screen and (min-width: 60em) { // 960
  .contact-social {
    background-attachment: fixed;
  }
}

.contact-social .row,
.contact-social .row .cols {
  margin-bottom: 0;
}

.contact-social .cols {
  margin-left: 0;
}

@media only screen and (min-width: 60em) {// 960
  .contact-social .cols {
    margin-left: 2%;
  }
}

.form-horizontal {
  width: 100%;
}

@media only screen and (min-width: 40em) { // 640
  .form-horizontal {
    width: 50%;
  }
}

/*
  Block
*/
// <div class="block block--thumb">
//   <div class="b-inner">
//     <div class="b-text">
//       <h3 class="b-title">Heading</h3>
//       <p>Text</p>
//     </div><!-- /.b-text -->
//   </div><!-- /.b-inner -->
// </div><!-- /.block.block--thumb -->

.block {
  overflow: hidden;

  p:last-child {
    margin-bottom: 0;
  }

  &--thumb {
    border-collapse: collapse;
    display: table;
    width: 100%;

    .b-inner {
      border: 0;
      display: table-row;
      vertical-align: top;
      overflow: hidden;
      transition: all .25s cubic-bezier(.25, .46, .45, .94) 0s;
    }
  }
}

@media all and (min-width: 29.75em) {
  .block--thumb {
    .b-thumb {
      display: table-cell;
      padding-right: 1em;
      max-width: 10em;
      vertical-align: top;
      width: 30%;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

@media all and (min-width: 29.75em) {
  .block--thumb {
    .b-text {
      display: table-cell;
      padding: 0;
    }
  }
}

.no-js {
  .project {
    img {
      margin-bottom: 24px;
    }
  }
}

.book {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 3fr;

  img {
    border: 1px solid rgb(0 0 0 / 0.1);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin-bottom: 0;
    transition: all .3s ease-in-out;
  }

  &:hover img,
  &:focus img {
    box-shadow: none;
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  a:link {
    margin-bottom: 1rem;
    border: 0;
  }

  p {
    margin-bottom: 1rem;
  }

  .subtitle,
  .author {
      margin-bottom: 1rem;
  }

  .author {
      font-size: 2rem;
  }

  .subtitle {
      font-size: 1.4rem;
  }

  .status {
      font-size: 1.4rem;
  }
}

.bookshelf {
  display: grid;
  grid-gap: calc(1em + 2vw);

  + .year {
      margin-top: 4rem;
  }
}

@media (min-width: 40em) {
  .bookshelf {
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));

  }
}
